.shop-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.product-container {
  border-right: 1px solid lightgray;
  margin-left: 20px;
}

.search-container {
  background-color: rgb(34, 34, 34);
  text-align: center;
  line-height: 40px;
}
.search-container input {
  width: 75%;
}
